# Expo
.expo-shared/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
.pnpm
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store

# Misc
.env
.env.local
.env.*.local
